$color-primary: #2486FF;
$color-link: #151925;
$color-subtext: #868DA0;
$color-subtext-link: #3D69ED;
$color-error: #C41F1F;

$gradient-background: linear-gradient(-212deg, #343D55 0%, #151925 95%);
$gradient-login-button: linear-gradient(-56deg, #32A3FF 0%, #176AFF 100%);

$font-circular: 'Circular Std', 'Arial', sans-serif;